<header>
	<div class="row text-center">
    <div class="col-xs-12">
      <div class="header">
	      <h3>DBS MC Learner</h3>
		  </div>
    </div>
    <nav>
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li>{{#link-to 'index'}}Lernen{{/link-to}}</li>
          <li>{{#link-to 'questions'}}Fragen{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
        </ul>
      </div>
    </nav>
  </div>
</header>
