<header>
	<div class="row text-center">
    <div class="col-xs-12">
      <div class="header">
	      <h3>DBS MC Learner</h3>
		  </div>
    </div>
    <nav>
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li><a href="/">Lernen</a></li>
          <li><a href="/questions">Fragen</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
