<div class="col-xs-12">
	<p class="text-center question-header">Frage {{ this.id }}/30</p>
</div>
<div class="col-xs-12" >
	<div class="text-center questions">
        <div class="question">
            <p>{{ this.text }}</p>
        </div>
	</div>
</div>