<div class="text-center">
	<div class="row">
		{{ render "partials/question" nextQuestion }}
		<div class="col-xs-6" >
			<div class="text-center answer answer-true">
			  <p>Wahr</p>
			</div>
		</div>
		<div class="col-xs-6">
			<div class="text-center answer answer-false">
			  <p>Falsch</p>
			</div>
		</div>
	</div><!-- /.row -->
</div>