<div class="text-center">
  <div class="row">
    <div class="col-xs-12">
      <p>Lern-Ergebnisse:</p>
    </div>
    <div class="col-xs-6">
      <p>Richtig:</p>
    </div>
    <div class="col-xs-6">
      <p>{{ correctAnswers }}</p>
    </div>
    <div class="col-xs-6">
      <p>Falsch:</p>
    </div>
    <div class="col-xs-6">
      <p>{{ wrongAnswers }}</p>
    </div>
    <div class="col-xs-12">
      <p>Nochmal?</p>
    </div>
    <div class="col-xs-12" >
      <div class="btn-group btn-group-justified" role="group">
        <a href="#" class="btn btn-default" role="button" {{ action 'retakeAll' true }}>Alle Fragen</a>
        <a href="#" class="btn btn-default" role="button" {{ action 'retakeAll' flase }} disabled>Nur Falsche</a>
      </div>
    </div>
  </div><!-- /.row -->
</div>
